body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    background: #1F2937;
}

.container {
    padding: 80px;
    max-width: 400px;
}

.subtext {
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    background: #3882F6;
    color: white;
    margin-top: 8px;
}

button.sign-down {
    background-color: #3882F6;
    color: white;
    border-color: white;
}

img {
    width: 200px;
    height: 200px;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
    padding: 40px;
}

.card {
    max-width: 350px;
}

.text {
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    background: #E5E7EB;
    color: #1F2937;
    padding: 180px;
}

.paragraph {
    font-size: 36px;
    font-style: italic;
}

.signature {
    align-self: flex-end;
    padding-right: 40px;
}